<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>help</title>
    <link rel="icon" href="/img/weather-icon.png">
  <link rel="stylesheet" href="/style/styles.css">
</head>
<body>
{{>header}}

{{>footer}}

</body>
</html>